* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}
tr {
  border: none;
}
td {
    padding:0 15px;
}

#titol_main{
	text-align: center;
	background-color: darkgreen;
	animation-name: arcoiris;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#nou_comentari{
	border: solid 1px black;
	border-radius: 5px;
	padding: 5px 10px;
}

#editor-blog {
	display: inline-block;
	width: 100%;
}
#editor-blog input{
	width: 50%;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
}

#editor-blog textarea{
	height: 150px;
}

textarea {
	resize: vertical;
	width: 100%;
	padding: 5px 10px;
	overflow: auto;
	display: inline;
	margin-bottom: -20px;
	border-radius: 5px;
}

#nou_comentari .buttons{
	display: inline-block;
}

#megaboto {
	padding: 5px 10px;
	border: solid 1px black;
	border-radius: 5px;
	background-color: lightgrey;
}

#megaboto:hover {
	animation-name: arcoiris;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	cursor: pointer;
}
h1 {
  font-size: 35px;
  color: white;
}

#contenidor {
	margin-left: 12%;
	margin-right: 12%;
	padding-top: 0.5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
	background: lightgrey;
	border-radius: 10px;
}
#contingut-blog{
	text-align: center;
}
#text-blog{
	text-align: justify;
	white-space: pre-line;
}

#contingut-comentari {
	word-wrap: break-word;
	padding: 0px 10px;
	white-space: pre;
}
#header-comentari {
	padding: 4px 6px;
}
#comentari {
	border: solid 1px black;
	border-radius: 5px;
	margin: 5px 0px;
}

h2{
	text-decoration: underline;
	text-align: center;
}
body{
	background-color: grey;
	font-size: 15px;
	font-family: Arial, Helvetica, Times;
}
#login-registre{
	column-count: 2;
	column-gap: 5%;
	column-rule-style: dashed;
	column-rule-color: grey;
}

@keyframes arcoiris{
	from {color: darkgreen;}
	to {color: white;}
	from {background-color: white;}
	to {background-color: darkgreen;}
}

#login-header {
   background-color: #4CAF50;
   margin-top: -22px;
}

#no-deco {
	text-decoration: none;
	color: white;
}

#valorar{
	display: inline;
}
#valorar a:hover{
  background-color: yellow;
}

#modificar-usuari {
	text-align: justify;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline;
}

.headerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 0px 16px 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: justify;
  overflow: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn, .headerbtn a:hover {
  background-color: #3e8e41;
}
